<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th><%= t 'table.columns.title' %></th>
    <th><%= t 'buttons.manage' %></th>
  </tr>
  </thead>
  <tbody>
  <% @questionnaires.each do |i| %>
      <tr>
        <td><%= raw to_html(i.content) %></td>
        <td><%= time_ago_in_words i.updated_at %></td>
        <td>
            <%= render 'shared/button', title: :remove, sm: true, href: questionnaire_path(i) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>