<h3><%= t '.change_your_password' %></h3>
<hr/>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <%= f.input :password, autofocus: true, autocomplete: 'off', placeholder: @minimum_password_length ? t('devise.passwords.characters_minimum', size: @minimum_password_length) : t('devise.passwords.please_input_your_password') %>
    <%= f.input :password_confirmation, autocomplete: 'off' %>


    <%= f.submit t('.change_my_password') %>
<% end %>

<br/>
<%= render 'devise/shared/links' %>
