<h3><%= @title=t '.sign_in' %></h3>
<hr/>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.input :email, autofocus: true %>
    <%= f.input :password, autocomplete: "off" %>
    <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, as: :boolean %>
    <% end -%>

    <%= f.button :submit, t('.sign_in') %>

<% end %>

<br/>
<%= render 'devise/shared/links' %>
