<% @title = t '.title', id: @article.id %>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <h3><%= @title %></h3>
    <hr/>
    <%= simple_form_for(@article) do |f| %>
        <%= f.input :title, autofocus: true %>
        <%= f.input :summary, as: :text %>
        <%= f.association :tags, as: :check_boxes %>
        <%= f.input :body, as: :text %>
        <%= f.button :submit, t('buttons.submit') %>
        <%= render 'shared/button', title: :remove, sm: false, href: cms_article_path(@article) %>
        <%= link_to t('buttons.back'), :back %>
    <% end %>
  </div>
</div>