<% @title = @article.title %>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10">

    <h2><%= @article.title %></h2>
    <hr/>
    <p></p>

    <p>
      <%= t '.summary' %> : <%= @article.summary %>
      <br/>
      <%= t '.author' %>: <%= link_to @article.user.username, cms_user_path(@article.user) %>
      <% if @article.can_edit? current_user %>
          <%= render 'shared/button', title: :edit, href: edit_cms_article_path(@article), sm: true %>
      <% end %>
      <br/>
      <%= "#{t '.updated_at'}: #{time_ago_in_words @article.updated_at}" %>
    </p>

    <p>
      <%= t '.tags' %> :
      <% @article.tags.select(:id, :name).each do |t| %>
          <%= link_to t.name, cms_tag_path(t) %>
      <% end %>
    </p>

    <p><%= raw to_html(@article.body) %></p>

    <h3><%= t '.comments' %></h3>
    <hr/>
    <%= simple_form_for(@comment) do |f| %>
        <%= f.input :article_id, as: :hidden %>
        <%= f.input :content, as: :text, autofocus: true %>
        <%= render 'shared/recaptcha' %>
        <br/>
        <%= f.button :submit, t('buttons.new') %>
    <% end %>
    <br/>
    <% @article.comments.order(id: :desc).each do |c| %>
        <blockquote id="c-<%= c.id %>" class="blockquote">
          <p><%= raw to_html(c.content) %></p>
          <footer>
            <%= time_ago_in_words c.updated_at %>
            <%= c.user ? link_to(c.user.username, cms_user_path(c.user)) : t('.anonymous') %>
            <cite>

              <% if c.can_edit? current_user %>
                  <%= link_to t('buttons.edit'), edit_cms_comment_path(c) %>
              <% end %>
            </cite>
          </footer>
        </blockquote>
    <% end %>

  </div>
</div>