<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= Setting.get_site_info 'description' %>">
  <meta name="keywords" content="<%= Setting.get_site_info 'keywords' %>">
  <meta name="author" content="<%= Setting.site_author %>">
  <link rel="shortcut icon" href="<%= Setting.site_favicon %>"/>
  <title><%= "#{@title}-#{Setting.get_site_info 'title'}" %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <script type="text/javascript">
    window.UEDITOR_HOME_URL = '/3rd/ueditor/';
    window.UEDITOR_CONTROLLER = "<%= ueditor_path %>";
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="/3rd/ueditor/ueditor.all.min.js"></script>
  <script type="text/javascript" src="/3rd/ueditor/lang/<%= I18n.locale.downcase %>/<%= I18n.locale.downcase %>.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield :root %>
<script>

  function on_remove_buttons(id) {
    $("button[id^='" + id + "-remove-']").click(function () {
      if (confirm("<%= t 'messages.are_you_sure'%>")) {
        $.ajax({
          method: 'DELETE',
          url: id2url($(this).attr('id'), id + "-remove"),
          success: function (rs) {
            if (rs.ok) {
              alert("<%= t 'messages.success'%>");
            } else {
              alert("<%= t 'messages.failed'%>");
            }
          }
        });
      }
    });
  }

  function init_table_clicks(id) {
    var cid = "div#" + id + "-form";
    $("button[id^='" + id + "-new-']").click(function () {
      $.get(id2url($(this).attr('id'), id + "-new"), function (data) {
        $(cid).html(data);
      });
    });

    $("button[id^='" + id + "-edit-']").click(function () {
      $.get(id2url($(this).attr('id'), id + '-edit'), function (data) {
        $(cid).html(data);
      });
    });
    $("button[id^='" + id + "-remove-']").click(function () {
      if (confirm("<%= t 'messages.are_you_sure'%>")) {
        $.delete(id2url($(this).attr('id'), id + "-remove"), function (rs) {
          if (rs.ok) {
            alert("<%= t 'messages.success'%>");
          } else {
            alert("<%= t 'messages.failed'%>");
          }
        });
      }
    });
  }
  function submit_form(id, success) {
    if (!success) {
      success = function (rs) {
        var data;
        if (rs.ok) {
          data = "<div class='alert alert-info alert-dismissible fade in' role='alert'> \
                  <button type='button' class='close' data-dismiss='alert' aria-label='Close'> \
                    <span aria-hidden='true'>&times;</span> \
                    <span class='sr-only'>Close</span> \
                  </button> \
                  <strong><%= t 'messages.success'%></strong>" +
              (rs.data ? rs.data : '') + "</div>";

        } else {
          data = "<div class='alert alert-danger alert-dismissible fade in' role='alert'> \
                  <button type='button' class='close' data-dismiss='alert' aria-label='Close'> \
                    <span aria-hidden='true'>&times;</span> \
                    <span class='sr-only'>Close</span> \
                  </button> \
                  <strong><%= t 'messages.failed'%></strong> " +
              (rs.data ? rs.data : '') + "</div>";
        }
        $("div#" + id + '-msg').html(data);
      }
    }
    var fm = $("form#" + id);
    fm.submit(function (e) {
      e.preventDefault();
      $.ajax({
        type: fm.attr('method'),
        url: fm.attr('action'),
        data: fm.serialize(),
        success: success
      });
    });
  }
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', '<%= Setting.google_tracking_id %>', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
