<% content_for :root do %>
    <%= render 'shared/header' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <ul id="ds-links" class="nav nav-pills nav-stacked">
            <% @links.each do |l| %>
                <li class="nav-item">
                  <%= link_to t(l.fetch(:title)), '#', class: 'nav-link', data:l.fetch(:href) %>
                </li>
            <% end %>
          </ul>
        </div>
        <div class="col-sm-10">
          <%= render 'shared/messages' %>
          <div id="ds-content"></div>
          <%= yield %>
          <%= render 'shared/footer' %>
        </div>
      </div>
    </div>
    <script>

      $(function(){
        var ids ="ul#ds-links a";
        $(ids).click(function(e){
          //console.log();
          $(ids).each(function(){
            $(this).removeClass('active');
          });
          $.get($(this).attr('data'), function(data){
              $("div#ds-content").html(data);

          });
          $(this).addClass('active');
        });
      });
    </script>
<% end %>

<%= render file: 'layouts/application' %>