<% content_for :root do %>
    <%= render 'shared/header' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <%= render 'shared/tab_v', id: 'ds-tabs', target: 'ds-content', links: personal_bar %>
        </div>
        <div class="col-sm-10">
          <%= render 'shared/messages' %>
          <div id="ds-content"></div>
          <%= yield %>
          <%= render 'shared/footer' %>
        </div>
      </div>
    </div>

<% end %>

<%= render file: 'layouts/application' %>